<div class="profile-container">
  <h2>Récapitulatif de votre profil :</h2>

  <div>
    <strong>Prénom:</strong> {{ profileData?.prenom }}
  </div>

  <div>
    <strong>Nom:</strong> {{ profileData?.nom }}
  </div>

  <div>
    <strong>Civilité:</strong> {{ profileData?.civilite }}
  </div>

  <div>
    <strong>Adresse:</strong> {{ profileData?.address.rue }}, {{ profileData?.address.codePostal }}, {{ profileData?.address.ville }}, {{ profileData?.address.pays }}
  </div>

  <div>
    <strong>Email:</strong> {{ profileData?.email }}
  </div>

  <div>
    <strong>Téléphone:</strong> {{ profileData?.phone }}
  </div>

  <div>
    <strong>Identifiant:</strong> {{ profileData?.login }}
  </div>
</div>
