<div class="profile-container">
  <h2>Récapitulatif de votre profil :</h2>

  <div>
    <strong>Prénom:</strong> {{ profileData?.user.prenom }}
  </div>

  <div>
    <strong>Nom:</strong> {{ profileData?.user.nom }}
  </div>

  <div>
    <strong>Civilité:</strong> {{ profileData?.user.civilite }}
  </div>

  <div>
    <strong>Adresse:</strong> {{ profileData?.user.address.rue }}, {{ profileData?.user.address.codePostal }}, {{ profileData?.user.address.ville }}, {{ profileData?.user.address.pays }}
  </div>

  <div>
    <strong>Email:</strong> {{ profileData?.user.email }}
  </div>

  <div>
    <strong>Téléphone:</strong> {{ profileData?.user.phone }}
  </div>

  <div>
    <strong>Identifiant:</strong> {{ profileData?.user.login }}
  </div>
</div>
