<!-- paiement.component.html -->
<div class="paiement-container">
    <h2>Paiement</h2>
    
    <!-- Utilisation du composant CarteFormComponent -->
    <app-carte-form></app-carte-form>
  
    <hr>
  
    <!-- Utilisation du composant ListeCartesComponent -->
    <app-liste-cartes (carteSelectionnee)="selectionnerCarte($event)"></app-liste-cartes>
  
    <button 
      type="button" 
      class="btn btn-primary" 
      (click)="onPaiementEffectue()"
      [disabled]="cartes.length === 0 || !carteSelectionnee">
      Valider le paiement
    </button>
  
    <!-- Affichage du message de succès -->
    <div *ngIf="paiementEffectue" class="alert alert-success mt-3" role="alert">
      Achat réussi ! Merci pour votre paiement.
    </div>
  </div>
  